html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #0e0c0f;
}

.p-center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-center-all.a {
  left: 180px;
}
.p-center-all.b {
  left: 660px;
}

img {
  max-width: 100%;
  height: auto;
}

.foil-slider {
  width: 100%;
  height: 100%;
}
.foil-slider .foil-slider-viewport {
  width: 260px;
  height: 260px;
  position: relative;
  margin: 0 auto;
}
.foil-slider .foil-slider-viewport .foil-slide {
  position: absolute;
  width: 130px;
  height: 205px;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.foil-slider .foil-slider-viewport .foil-slide.-left {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -30%) scale(0.8);
  z-index: 5;
  filter: brightness(0.4);
}
.foil-slider .foil-slider-viewport .foil-slide.-left:hover {
  transform: translate(-100%, -30%) scale(0.9) rotate(-5deg);
}
.foil-slider .foil-slider-viewport .foil-slide.-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: brightness(1);
}
.foil-slider .foil-slider-viewport .foil-slide.-center:hover {
  transform: translate(-50%, -45%) scale(1.1);
}
.foil-slider .foil-slider-viewport .foil-slide.-right {
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%) scale(0.8);
  z-index: 5;
  filter: brightness(0.4);
}
.foil-slider .foil-slider-viewport .foil-slide.-right:hover {
  transform: translate(0%, -30%) scale(0.9) rotate(5deg);
}
.foil-slider .foil-slider-viewport .foil-slide.-play-1, .foil-slider .foil-slider-viewport .foil-slide.-play-2, .foil-slider .foil-slider-viewport .foil-slide.-play-3 {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  pointer-events: none;
}
.foil-slider .foil-slider-viewport .foil-slide.-play-1 {
  -webkit-animation-name: left-animation-to-right;
          animation-name: left-animation-to-right;
}
.foil-slider .foil-slider-viewport .foil-slide.-play-2 {
  -webkit-animation-name: center-animation-to-right;
          animation-name: center-animation-to-right;
}
.foil-slider .foil-slider-viewport .foil-slide.-play-3 {
  -webkit-animation-name: right-animation-to-right;
          animation-name: right-animation-to-right;
}
.foil-slider .foil-slider-viewport .foil-slide img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  max-width: 100%;
  height: auto;
}
.foil-slider .foil-slider-viewport .foil-slide .foil-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.foil-slider .foil-slider-controls {
  position: relative;
}
.foil-slider .foil-slider-controls .foil-slider-turn {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 100%;
  background: rgba(100, 100, 100, 0.25);
  cursor: pointer;
  margin: 15px auto;
}
.foil-slider .foil-slider-controls .foil-slider-turn:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("turn.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.foil-slider .foil-slider-controls .foil-slider-text {
  width: 90%;
  max-width: 320px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}
.foil-slider .foil-slider-controls .foil-slider-text .foil-slider-speech {
  display: none;
  color: #fff;
}
.foil-slider .foil-slider-controls .foil-slider-text .foil-slider-speech.-active {
  display: block;
}

@-webkit-keyframes left-animation-to-right {
  0% {
    transform: translate(-100%, -30%) scale(0.8);
  }
  50% {
    z-index: 10;
    transform: translate(-95%, -45%) scale(0.9) rotate(-8deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
    filter: brightness(1);
  }
}

@keyframes left-animation-to-right {
  0% {
    transform: translate(-100%, -30%) scale(0.8);
  }
  50% {
    z-index: 10;
    transform: translate(-95%, -45%) scale(0.9) rotate(-8deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
    filter: brightness(1);
  }
}
@-webkit-keyframes center-animation-to-right {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(50%, -40%) rotate(8deg);
    z-index: 5;
  }
  100% {
    transform: translate(0%, -30%) scale(0.8);
    z-index: 5;
    filter: brightness(0.4);
  }
}
@keyframes center-animation-to-right {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(50%, -40%) rotate(8deg);
    z-index: 5;
  }
  100% {
    transform: translate(0%, -30%) scale(0.8);
    z-index: 5;
    filter: brightness(0.4);
  }
}
@-webkit-keyframes right-animation-to-right {
  0% {
    transform: translate(0%, -30%) scale(0.8);
  }
  50% {
    transform: translate(-50%, -35%) scale(0.6) rotate(8deg);
  }
  100% {
    transform: translate(-100%, -30%) scale(0.8);
  }
}
@keyframes right-animation-to-right {
  0% {
    transform: translate(0%, -30%) scale(0.8);
  }
  50% {
    transform: translate(-50%, -35%) scale(0.6) rotate(8deg);
  }
  100% {
    transform: translate(-100%, -30%) scale(0.8);
  }
}/*# sourceMappingURL=style.css.map */